<mat-toolbar class="mat-primary mat-dialog-header">
    <span>{{dataDialog.titulo}}</span>
    <button tabindex="-1" mat-icon-button [mat-dialog-close]="null">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<div mat-dialog-content>
    <form [formGroup]="formularioGrp" *ngIf="formErrors">
        <mat-grid-list cols="12" rowHeight="56px">
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field>
                    <input matInput formControlName="nroComprobante" placeholder="Numero comprobane" type="text"
                        [Uppercased]>
                    <mat-error *ngIf="formErrors.nroComprobante">{{formErrors.nroComprobante}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="legacy">
                    <input matInput formControlName="fecha" [matDatepicker]="picker" placeholder="Fecha">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="formErrors.fecha">{{formErrors.fecha}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field>
                    <input matInput formControlName="monto" placeholder="Monto" type="number" readonly>
                    <mat-error *ngIf="formErrors.monto">{{formErrors.monto}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
                <mat-form-field>
                    <input matInput formControlName="cliente" placeholder="Cliente" type="text" [matAutocomplete]="auto"
                        [Uppercased2]="true">
                    <mat-error *ngIf="formErrors.cliente">{{formErrors.cliente}}</mat-error>
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                        (optionSelected)="seleccionCliente($event)">
                        <mat-option *ngFor="let cliente of listaCliente" [value]="cliente">
                            {{cliente.nombre}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>

    <mat-card>
        <mat-card-header>
            <mat-card-title> DETALLE FACTURA </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-container">
            <form [formGroup]="busquedaGrp" *ngIf="formErrors2">
                <mat-grid-list cols="12" rowHeight="56px">
                    <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 3, md: 3, lg: 3, xl: 3}">
                        <mat-form-field>
                            <input matInput formControlName="codigo" placeholder="Codigo item" type="text"
                                (keyup.enter)="agregarDetalle()" [Uppercased]>
                            <mat-error *ngIf="formErrors2.codigo">{{formErrors2.codigo}}</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 7, md: 7, lg: 7, xl: 7}">
                        <mat-form-field>
                            <input matInput formControlName="nombre" placeholder="Descripcion item" type="text"
                                (keyup.enter)="agregarDetalle()" [Uppercased]>
                            <mat-error *ngIf="formErrors2.nombre">{{formErrors2.nombre}}</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 2, md: 2, lg: 2, xl: 2}">
                        <button mat-raised-button color="primary" type="button"
                            (click)="agregarDetalle()">Agregar</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
            <form [formGroup]="formularioDetGrp" *ngIf="formErrorsDet">
                <div class="table-container">
                    <table mat-table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> N° </th>
                            <td mat-cell *matCellDef="let i = index"> {{paginator.pageSize * paginator.pageIndex + i +
                                1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="codigo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo item </th>
                            <td mat-cell *matCellDef="let row"> {{ row.codigo }} </td>
                        </ng-container>
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion item </th>
                            <td mat-cell *matCellDef="let row"> {{ row.nombre }} </td>
                        </ng-container>
                        <ng-container matColumnDef="cantidad">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
                            <td mat-cell *matCellDef="let row; let i = index">
                                <mat-form-field appearance="outline">
                                    <mat-label>Cantidad</mat-label>
                                    <input matInput
                                        [formControlName]="'c'+(paginator.pageSize * paginator.pageIndex + i)"
                                        placeholder="Cantidad" type="number"
                                        (change)="actualizarSubtotal(paginator.pageSize * paginator.pageIndex + i)"
                                        numeric decimals="2">
                                    <mat-error
                                        *ngIf="formErrorsDet['c'+(paginator.pageSize * paginator.pageIndex + i)]">
                                        {{formErrorsDet['c'+(paginator.pageSize * paginator.pageIndex + i)]}}
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="precio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio unitario </th>
                            <td mat-cell *matCellDef="let row; let i = index">
                                <mat-form-field appearance="outline">
                                    <mat-label>Precio</mat-label>
                                    <input matInput
                                        [formControlName]="'m'+(paginator.pageSize * paginator.pageIndex + i)"
                                        placeholder="Precio unitario" type="number"
                                        (change)="actualizarSubtotal(paginator.pageSize * paginator.pageIndex + i)"
                                        numeric decimals="2">
                                    <mat-error
                                        *ngIf="formErrorsDet['m'+(paginator.pageSize * paginator.pageIndex + i)]">
                                        {{formErrorsDet['m'+(paginator.pageSize * paginator.pageIndex + i)]}}
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="subTotal">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> subtotal </th>
                            <td mat-cell *matCellDef="let row">
                                {{ row.subTotal | number:'1.2-2' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="opt" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef>Opc.</th>
                            <td mat-cell *matCellDef="let row">
                                <button mat-icon-button type="button" matTooltip="Eliminar producto"
                                    (click)="elimProducto(row)">
                                    <mat-icon>delete_outline</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    </table>

                    <div class="empty" *ngIf="!isLoading && (dataSource === null || dataSource.data.length==0)">
                        No existe datos para mostrar en la tabla
                    </div>

                    <div *ngIf="isLoading" class="spinerTable">
                        <mat-progress-spinner [diameter]="35" color="primary" mode="indeterminate">
                        </mat-progress-spinner>
                    </div>

                    <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[5, 10, 25, 100]"
                        showFirstLastButtons>
                    </mat-paginator>

                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="button" (click)="modFactura()" [class.spinner]="modif"
        [disabled]="modif">Guardar</button>
    <button mat-button type="button" [mat-dialog-close]="">Salir</button>
</div>